<%-include ('partials/header')%>

<form action="/ngo" method="post">
    Name: <input type="text" name="name"> <br><br>
    Email: <input type="email" name="email"> <br><br>
    Password: <input type="password" name="password"> <br><br>
    <input type="submit" value="Submit">
</form>

<%-include ('partials/footer')%>