<%-include ('partials/header')%>

    <form action="/philanthropist" method="post">
        Name: <input type="text" name="name"> <br><br>
        Email: <input type="email" name="email"> <br><br>
        Password: <input type="password" name="password"> <br><br>
        Tag: <input type="text" name="tag"> <br><br>
        <div class="inputBx">
            <input type="submit" id="" value="Submit">
        </div>
    </form>

    <%-include ('partials/footer')%>